{% extends 'layout' %}

{% block scripts %}
<script src="/scripts/index.js"></script>
{% endblock %}

{% block content %}
<h2>{{ name }}</h2>
<div class="row">
  {% for category in categories %}
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ category.name }}
        <a href="/category/{{ category.id }}"><span class="label label-warning pull-right">Összes megtekintése</span></a></h3>
      </div>
      <div class="panel-body" align="center">
        {% for picture in category.topPictures %}
          <a href="/picture/{{ picture.name }}" >
            <img border="0" src="/images/{{ picture.name }}.png" class="indexpictures">
          </a>
        {% endfor %}
        </div>
    </div>
  </div>
  {% endfor %}
</div> 
{% endblock %}