{% extends 'layout' %}

{% block content %}
<div class="col-md-12 col-sm-6">
    <img border="0" class="img-responsive" src="/images/{{ picture.name }}.png">
    <div class="btn-group btn-group-justified">
  {% if currentUser.id == picture.user_id %}
  <a href="{{picture.name}}/delete" class="btn btn-warning">Törlés</a>
  {% endif %}  
  <a href="{{picture.name}}/upvote" class="btn btn-info {% if voted.rate_positive == true %}disabled{% endif %}">Tetszik</a>
  <a href="{{picture.name}}/downvote" class="btn btn-danger {% if voted.rate_negative == true %}disabled{% endif %}">Nem tetszik</a>
  <a href="/images/{{ picture.name }}.png"  download="{{ picture.name }}" class="btn btn-success">Letöltés</a>
  
</div>
<h4>Értékelés aránya:</h4>
{% if picture.rate_positive == 0 and picture.rate_negative == 0 %}
  <h4> Még nem érkezett értékelés
{% else %}
<div class="progress"> 
  <div class="progress-bar progress-bar-info" style="width: {{ picture.rate_positive/( (picture.rate_positive + picture.rate_negative)/100)  }}%"><b>Pozitív</b></div>
  <div class="progress-bar progress-bar-danger" style="width: {{ picture.rate_negative/( (picture.rate_positive + picture.rate_negative)/100)  }}%"><b>Negatív</b></div>
</div>
{% endif %}
</div>

{% endblock %}